.container {
    max-height: 530px;
}

.weather-app-wrap {
    max-width: 425px;
    margin: 60px auto;
}

.weather-container {
    border: 1px solid black;
    border-radius: 5px;
    height: 33em;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: lightgray;
}

/*nav bar*/


/*background img*/
.background-img {
    /* background: url('thunder.jpg');*/
    background: url("bostoncity.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 80%;
    object-fit: cover;

}

.form-container {
    background-color: lightgray;
}



.search-bar {
    width: 100%;
    margin: auto;
    padding: 15 auto;
}

#search-form {
    margin: 0;
}

.btn.fa-home {
    border-color: black;
    border: 20px;
}

.btn.btn-primary {
    background-color: #E1BEE7;
    border-color: black;
    margin: auto;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
    color: #ffffff;
    background-color: pink;
}

#city-input {
    box-sizing: border-box;
    width: 75%;
    margin-left: 60px;
    margin-right: 60px;
}

.middle-text {
    color: white;

}

/*city nav*/
#cityHeader {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
}

#countryHeader {
    text-align: center;
    margin: 10px 30px;
    font-weight: 600;
    font-size: 20px;

}

.float-left {
    display: block;
    width: 225px;
}

/*main-temp*/
.main-temp {
    /* margin: 10px 30px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    line-height: 24px;
    align-items: center;
    width: 450px;*/

    text-align: center;
    margin: auto;
    max-width: 350px;
}


.main-temp .units {
    position: relative;
    font-size: 10px;
    top: -34px;
}

.middle-information {
    display: inline;
    list-style: none;
    font-size: 20px;
}

.fa-wind {}

.timeNow {

    line-height: 50px;
    font-size: 10px;
}

.middle-descr li {
    padding: 8px 0;
}

#temperature {
    font-size: 60px;
    font-weight: 300;
    height: 64px;
    width: 64px;
}

/*quote section*/
.quote {
    text-align: center;
    padding-top: 30px;
    font-weight: 400;
    font-size: 10px;
}

/*weekly forecast*/
.white-weekly {
    text-align: center;
    margin-top: 20px;
}

.weeklyForecast {
    max-width: 400px;
    margin: auto;
}

.weeklyForecast-date {
    font-size: 12px;
}

.daily {
    padding: 0;
}

.forecast-temp {
    font-size: 9px;
}

.sourceCode {
    margin: 5px;
    font-size: 40%;
}

.weather-temperature .active {
    color: black;
}

a:hover {

    text-decoration: none;
    cursor: default;
}